---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="text-center space-y-6 px-6">
    <h1 class="text-5xl font-extrabold text-blue-400 tracking-tight">
      Welcome to my portfolio!
    </h1>

    <p class="text-gray-300 max-w-2xl mx-auto text-lg leading-relaxed">
      I’m an 18-year-old student currently studying Software Engineering at the
      Budapest University of Technology and Economics.
      I’m passionate about modern web development, design, and automation.  
      With this portfolio, I aim to showcase my projects, skills, and the
      technologies I work with.  
      <br /><br />
      Thank you for stopping by — have a look around!
    </p>
  </section>
</Layout>