---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
	<div class="text-red-500">
		<p>Hi, asdasdsda</p>
		<button class="py-2 px-16 bg-neutral-800 rounded-lg hover:bg-neutral-700 active:bg-neutral-600" onclick="alert('yotototoototo')">Greet</button>
	</div>
</Layout>
